---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.vue';
import CultureSection from '../components/sections/CultureSection.vue';
import NatureSection from '../components/sections/NatureSection.vue';
import ExperiencesSection from '../components/sections/ExperiencesSection.vue';
import GastronomieSection from '../components/sections/GastronomieSection.vue';
import ContactSection from '../components/sections/ContactSection.vue';
import BackToTop from '../components/ui/BackToTop.vue';
import ProgressBar from '../components/ui/ProgressBar.vue';

---

<Layout title="Bénin Immersion - Découvrez la magie du Bénin">
	<main class="relative">
		<HeroSection client:load />
		<CultureSection client:visible />
		<NatureSection client:visible />
		<!-- <ExperiencesSection client:visible /> -->
		<GastronomieSection client:visible />
		<ContactSection client:visible />
		<BackToTop client:load />
		<ProgressBar client:load />
	</main>
</Layout>

<style>
	/* Styles spécifiques à la page d'accueil */
	main {
		overflow-x: hidden;
	}
</style>
